

form {
    display: block;
}

img {
    z-index: -1;
}

#stain-1 {
    position: absolute;
    top: -18em;
    right: -5em;
}

#stain-2 {
    position: absolute;
    top: 18em;
    left: -5em;

}

#logo {
    position: absolute;
    top: -16em;
    left: -14em;
}



/*--------------------------------------------------------------------------------------------------------------------*/


.dropdown-button {
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    background-color: #6c757d;
    border: 1px solid #6c757d;
    color: #fff;
    border-radius: 0.25rem;
    cursor: pointer;
}


/*--------------------------------------------------------------------------------------------------------------------*/


.custom-section {
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    padding: 40px;
    margin-top: 1rem;
}

.new-name {
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

.form-input {
    padding: 0.5rem;
    font-size: 1rem;
    width: 89%;
}

.add-btn {
    width: 100%;
    padding: 0.75rem;
    margin-top: 1rem;
    font-size: 1rem;
    background-color: #6c757d;
    border: 1px solid #6c757d;
    color: #fff;
    cursor: pointer;
    border-radius: 0.25rem;
}

